<div class="row">
	<div class="col-md-10">
		<h5 class="text-primary">The more the merrier. Let get more friends!</h5>
		<div class="form-control friends-list">
		  <%= render '/relationships/user_list' %>
		</div>
	</div>
</div>